@using System.Security.Claims
@using Stanford_University.BusinessEntities

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Stanford_University</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Stanford_University.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                @if (User.IsInRole(Roles.Admin))
                {
                    <a class="navbar-brand" href="@Url.Action(controller:"Home",action:"Home")">Stanford University</a>
                }
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @{
                        // Access the user's name claim
                        var userName = Context.User.FindFirstValue(ClaimTypes.Name);

                        var userId = Context.User.FindFirstValue(ClaimTypes.NameIdentifier);
                    }
                   

                    <ul class="navbar-nav flex-grow-1">

                        @if (User.IsInRole(Roles.Admin))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@Url.Action("StudentList","Student")">Students</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@Url.Action("CoursesList","Course")">Courses</a>
                            </li>
                            
                        }

                        
                       
                        <li class="nav-item" style="margin-left:auto;">
                            <span style="margin-right:10px;">Welcome @userName !</span>
                            <a class="btn btn-dark text-white" href="@Url.Action("Logout","Account")">Logout</a>
                        </li>
                        
                    </ul>
                    @* <div class=" d-flex justify-content-end grid gap-0 column-gap-3">
                        <span>Welcome @userName !</span>
                        <a class="btn btn-dark text-white" href="@Url.Action(controller:"Account",action:"Logout")">Logout</a>
                    </div> *@

                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted bg-light">
        <div class="container-fluid">
            &copy; 2023 - Stanford_University - <a>Privacy</a>
        </div>
    </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>